*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.banner
{
    max-width: 100%;
    background: url(images/banner.jpg)center center/contain no-repeat fixed;
    top:0;
    opacity: 0.8;
    transition: 0.5s;
}
.Recorder_base .formation
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:100px;
}
.formation form
{
    padding: 100px 200px;
    background-color: rgba(0,0,0,0.7);
    border: 1px solid #eed202;
    border-radius: 20px;
    max-width: 100%;
    margin-bottom: 100px;
}
.formation form label
{
    color:#eed202;
    font-size:20px;
}
.formation input
{
    padding: 10px 40px;
    margin-bottom: 7px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid rgba(0,0,0,1);
    border-radius:10px;
    box-shadow:10px 5px 15px rgba(0,0,0,0.8);
    background-color:#da9100 ;
}
.formation form .add-button
{
    color: #080808;
    text-transform: uppercase;
    letter-spacing: 0.85px;
    font-weight:700;
    transition: 0.5s;
}
#date
{
    color: #ffffff;
    font-weight: 800;
}
.formation form .add-button:hover
{
    color:#d3d3d3;
    cursor:pointer;
}
@media screen and (max-width: 768px)
{
    .banner
    {
        width:100%;
    }
    .Recorder_base .formation
    {
       margin-left: 20px;
    }
    .formation form
    {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        margin-bottom: 100px;
    }
.formation form .add-button:hover
{
    color:#d3d3d3;
    cursor:pointer;
}
}
