{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'done_list.css' %}">
    </head>
    <body class="container">
        <section class="complete">
            <h3>
                The Completed Things:
            </h3>
        <div class="listdone">
        <ul>
            {% for done in doneList %}
                    <small><span>Date: </span> {{done.date}}</small>
                    <li><span>Completed: </span>{{done}}</li>
            {% endfor %}
        </ul>
        <div>
                    
            {% for update in updates %}
            <p>Update.id: {{update.id}}</p>
        <button><a href="{% url 'activities:update' update.id %}">Update</a></button>
            {% endfor %}
                
                {% for rid in rids %}
        <a href="{% url 'activities:deleting' rid.id%}">Delete</a>
                    
                {% endfor %}
                    
        </div>
        </div>
        </section>
    </body>
    </html>

{% endblock content %}

    