{% extends 'base.html' %}

{% block content %}    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DayTracker</title>
</head>
<body>
    <section class="Recorder_base">
        <div>
            <form action="post">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Update">
            </form>
        </div>
    </section>
</body>
</html>
{% endblock content %}
