*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
    transition: 0.5s;
    font-family: cursive;
}
.navigation
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    background-color: aquamarine;
    color: white;
    height: 6vh;
}
.navigation .links
{
    display: flex;
}
.navigation .links li
{
    padding: 8px;
    list-style-type: none;
}
