{% load static %}
    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DayTracker</title>
    <link rel="stylesheet" href="{% static 'base/navigation.css' %}">
</head>
<body>
    <nav class="navigation">
        <ul class="links">
            <li><a href="{% url 'activities:index' %}">Home</a></li>
            <li><a href="{% url 'activities:graph_representation' %}">ProductivityLevel</a></li>
        </ul>
    </nav>
</body>
</html>
